@media (max-width: 600px) {
  .exp img {
    margin-right: 1rem;
    height: 3.5rem;
    width: 3.5rem;
  }
  .exp {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3px;
  }
  .ExpTitle {
    width: 100%;
  }
}
